/* styling for the tagline page */

body{
    background-color: #000000;
    display: flex;
    height: 97vh;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
}

h1{
    background: linear-gradient(180deg, #8019E8 0%, #121212 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Inter;
    font-size: 220px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}