:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }

*{
    font-family: Inter;
    overflow-x: hidden;
    transition: ease-in-out 0.3s;
    color: #fff;
    overflow-y: hidden;
    /* padding: 0;
    /* margin: 0;
    /* May be worth adding these so we have full control */
}

html{
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

a {
    text-decoration: none;
    transition: 0.3s all ease-in-out;

}

.button:hover, a:hover {
    scale: 1.2;
    cursor: pointer;
}

.button:active, a:active {
    scale: 1;
}

#hero-box {
    height: 100vh;
    scroll-snap-align: start;
}


/* Title styling */
#title{
    /* gradient */
    background: #8019E8;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* postitioning and size */
    text-align: center;
    font-size: 18.12vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 5vh;
}



/* Background styling */
body {
    background-color: #121212;
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
   }

/* tagline styling */
#tagline{
    color: #FFFFFF;
    text-align: center;
    font-family: Inter;
    font-size: 2.7vh;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 5vh;
}

/* button styling */
.button {
    width: 14.8vw;
    height: 6.56vh;
    border-radius: 2.12vh;
    background: #8019E8;
    border: transparent 0px solid;
    font-size: 3.17vh;
    font-weight: 600;
    line-height: 3.8vh;
    color: #fff;
    cursor: pointer;
    display: block;
    margin: auto;
    transition: 0.3s all ease-in-out;
}

.button:active, a:active {
    scale: 1;

}

.button:hover {
    box-shadow: #fff 0 0 20px 3px;
}

.button:active {
    box-shadow: none;
}



/* scroll hint styling */
#scroll{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 2vh;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    opacity: 0.8;
    margin-top: 28vh;
    position: relative;
    bottom: 12vh;
}



/* Our work styling */

#ourWork{
    margin-top: 40vh;
    scroll-snap-align: start;
}

.workSection{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40vh;
    color: #FFFFFF;
    scroll-snap-align: start;
}


.workBorder{
    width: 68vw;
    height: 68vh;
    flex-shrink: 0;
    border: 0px solid #8119e88f;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 40vw;
}

.imgBig{
    height: 39vw;
    width: 60vw;
}

.imgBig:hover{
    cursor: pointer;
    width: 62vw;
}

.imgSmall{
    display: none;
    margin-top: 8.2vh;
    width: 32vh;
    height: 20vh;
}

#images{
    height: 100%;
}



.workSection h1, .workSection p{
    display: none;
}

.workSection p{
    margin-top: 12vh;
    width: 25vw;
    height: 38.2vh;
    font-size: 1.9vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: justify;
}

.workBorder{
    transform: rotate3d(0, 1, 0, 90deg);
}

@media (prefers-reduced-motion: no-preference) {
    .workBorder{
        transition: all 0.3s ease;
    }
}

.transition{
    transform: rotate3d(0,0,0,0deg) !important;
}


.workSection h1{
    width: 50vw;
    height: 4.9vh;
    font-size: 3.8vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.workSection span{
    margin-top: 5vh;
}

.workSection .text{
    width: 20vw;
    display: none;
}

#images{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.visit{
    display: none;
    height: 25vh;
    margin-top: 5vh;
    opacity: 0.5;
}

.visit:hover{
    height: 27vh;
    margin-top: 4vh;
    opacity: 075;
}

.close{
    visibility: hidden;
    opacity: 0.4;
    height: 5%;
}

.close:hover{
    cursor: pointer;
    opacity: 1;
}

/* Socials styling */

#socials{
    position: fixed;
    top: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 10vw;
}

#socials img{
    margin: 7px;
}

#socials #instagram{
    width: 30px;
    height: 30px;
}

#socials #x{
    width: 18px;
    height: 20px;
}

#socials #linkedIn{
    width: 18px;
    height: 18px;
}

#socials .icon:hover{
    cursor: pointer;
    filter: brightness(0) invert(1);
}

#socials a p{
    font-size: 0vw;
    transition: ease-in-out 0.3s;
}

#socials a{
    display: flex;
    flex-direction: row;
    align-items: center;
}



/* Navbar styling */
nav{
    position: fixed;
    top: 0vh;
    width: 100%;
    height: 7vh;
    z-index: 100;
    padding-top: 2vh;
    backdrop-filter: blur(5px);
    padding-bottom: 0.5vh;
}

nav .right{
    color: #FFF;
    font-family: Inter;
    font-size: 2.5vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    float: right;
    margin-right: 3vw;
    margin-top: 1vh;
    opacity: 0.5;
}

nav a:hover{
    opacity: 1;
}

nav img{
    display: inline;
    height: 5vh;
    line-height: normal;
    margin-left: 1vw;
    }


/* Contact us styling */
#contact-us {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
}

#contact-us > h3 {
    font-size: 2.5vh;
    width: 100vw;
    text-align: center;
}

#our-images {
    display: flex;
    gap: 10vw;
    margin-top: 5vh;
}

#our-images img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#our-images p{
    width: 15vw;
    color: #ffffffc4;
    text-align: center;
}

#our-images h2{
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: #8019E8;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#img1, #img2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-buttons {
    display: flex;
    gap: 4vw;
}

#contact-buttons button {
    height: 5vh;
    width: 10vw;
    font-size: 2.3vh;
    margin-bottom: 4vh;
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-buttons button:hover {
    scale: 1.02;
    box-shadow: #fff 0 0 8px 2px;
}

#contact-buttons a {
    width: 15vw;
}

#contact-socials {
    display: flex;
    align-items: center;
    gap: 3vw;
    width: 70vw;
    justify-content: center;
}

#contact-socials > a:hover{
    filter: brightness(1.5);
}


/* About us section */

#about-us {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

#about-us > h1 {
    font-size: 20vh;
    text-align: center;
    font-weight: bold;
    color: #8019E8;
    margin: 0;
    font-weight: 900;
}

.what-we-do {
    display: flex;
    flex-direction: row;
    height: 40vh;
    width: 80vw;
    justify-content: center;
    margin: 0vh 20vw 0vh 20vw;
    align-items: center;
    text-align: left;
    gap: 5vw;
}

.what-we-do  h1 {
    font-weight: 900;
    font-size: 15vh;
}

.what-we-do img {
    width: 25vw;
    z-index: -10;
}

#design-icon {
    scale: 1;
    margin-right: 30vw;
}

#coding-icon{
    margin-left: 30vw;
}

.what-we-do p {
    width: 70%;
    font-size: 3vh;
    visibility: hidden;
}

.struct{
    width: 100vw;
    height: 40vh;
    position: absolute;
}

#design{
    margin-left: 50vw;
}

#build{
    margin-left: 25vw;
}

/* WHAT WE DO ANIMATED VERSION CLASSES */

@keyframes p-animate{
    0%{visibility: hidden;}
    100%{visibility: visible;}
}

@keyframes h1-animate {
    0%{font-weight: 900; font-size: 15vh;}
    100%{position: relative; font-size: 8vh; margin-bottom: 2vh; margin-left: 0;}
}

@keyframes coding-icon-animate{
    0%{width: 25vw;}
    100%{transform: rotate(30deg); scale: 0.8; filter: blur(3px); position: relative; margin-left: 50vw;}
}

@keyframes design-icon-animate{
    0%{width: 25vw;}
    100%{transform: rotate(-30deg); scale: 0.8; filter: blur(3px); margin-right: 50vw; position: relative;}
}

.what-we-do-after {
    gap: 0 !important;
}

.design-icon-after {
    animation: design-icon-animate 2s forwards;
}

.coding-icon-after {
    animation: coding-icon-animate 2s forwards;
}

.h1-after-animation {
    animation: h1-animate 2s forwards;
}

.p-after-animate {
    animation: p-animate 2s forwards;
}

.after-animate-struct {
    transition:  ease-in-out 1s;
    margin-left: 30vw;
    width: 69vw;
    height: 39vh;
}

purple {
    color: #8019E8;
    font-weight: bold;
}


